<div class="jumbotron">
    <h1>Attributions</h1>
    <p class="lead">
    This project makes use of the following third-party components.
    </p>
    <div class="row">
        <div class="col-md-4">
            <h2>Libraries</h2>
</div>
        <div class="col-md-4">
            <h2>Icons &amp; Images</h2>
From <a href="https://thenounproject.com/Chamedesign/collection/business-line-round-difference/">Chameleon Design's <i>Business Line Round Difference Collection</i> on The Noun Project</a>
    <ul>

    </ul>
</div>
        <div class="col-md-4">
* Aurelia
* Materialize CSS
* Aurelia-materialize Bridge
* 
</div>
    </div> 
   
</div>
